
# /
/.bzrignore
/.bzr
/gwt-unitCache
/test-classes
/.gwt
/.git
/.svn
/dist
/
/build.properties

# /client/
/client/.bzrignore
/client/.bzr
/client/gwt-unitCache
/client/test-classes
/client/.gwt
/client/.git
/client/target
/client/build.properties

# /client/war/
/client/war/biosim

# /client/war/WEB-INF/
/client/war/WEB-INF/deploy
/client/war/WEB-INF/classes
/client/war/WEB-INF/lib/

# /server-mock/
/server-mock/target
/server-mock/.cache
/server-mock/KVDBLogs*.log*
/server-mock/.scala_dependencies
/server-mock/database/

# /server-mock/src/main/webapp/WEB-INF/
/server-mock/src/main/webapp/WEB-INF/source-jsp


/support/target/

/client/purgatory/
