<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app
		 id="ahs-scanning"
		 xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <listener>
        <listener-class>m3.servlet.GuiceServletConfig</listener-class>
    </listener>

	<!-- guice filter -->
    <filter>
        <filter-name>Guice</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
        <load-on-startup>15</load-on-startup>
    </filter>
    <filter-mapping>
        <filter-name>Guice</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>



